img {
    width: 100px;
    padding: 20px;
}

#heading {
    display: flex;
    flex-direction: row;
}

#logo-heading {
    margin-top: 40px;
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-shadow: 2px 2px 10px rgb(104, 104, 104);
}

#calculator-body {
    background-color: #DED29E;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

#textbox {
    width: 370px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    height: 50px;
}

#result-text {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 10px;
    font-size: 20px;
    margin: 15px;
    text-align: right;
}

.row-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

#buttons {
    margin-top: 20px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
}

button {
    font-family: inherit;
    font-size: inherit;
    padding: 0px 30px;
    margin: 8px;
    background-color: white;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(244,240,203,1) 0%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%); 
    box-shadow: 1px 1px 1px grey;
    padding: 20px 35px;
}

button:hover {
    background: linear-gradient(0deg, rgba(199,196,165,1) 0%, rgba(255,255,255,1) 64%, rgba(255,255,255,1) 100%);
    box-shadow: 1px 1px 0px;
    cursor: pointer;
}

button:active {
    background: linear-gradient(0deg, rgb(135, 132, 103) 0%, rgba(255,255,255,1) 64%, rgba(255,255,255,1) 100%);
    box-shadow: 1px 1px 0px;
}

button:disabled {
    background: linear-gradient(0deg, rgb(152, 148, 112) 0%, rgb(162, 162, 162) 64%, rgb(182, 182, 182) 100%);
}